main {
	padding: 3em;
}

section {
	display: none;
	background: $main;
	min-height: 50vh;
	padding: 3em;
	margin-bottom: 3em;

	&:last-child {
		margin-bottom: 0;
	}

	&.show {
		display: block!important;
		margin-bottom: 0;
	}
}