nav {
	width: 100%;
	height: 4.5em;
	padding: 0 3em;
	margin-bottom: 20px;
	background: $grayish;
	box-sizing: border-box;

	ul {
		line-height: 4.5em;
	}

	li {
		display: inline-block;
		margin-right: 2em;
	}

	a {
		font-size: 2em;
		color: $white;
		text-decoration-skip: edges;
	}
}